# Python
src/__pycache__/
*.pyc
*.pyo
*.spec
*.7z

# 构建产出
_stage/
build/
output/
dist/
sfx_config.txt
sfx_*

# 运行时
logs/
.shutdown.flag

# 多实例
runtime/LLBot-Desktop-win-x64/bin/llbot/logs/
runtime/LLBot-Desktop-win-x64-2
runtime/LLBot-Desktop-win-x64-3
runtime/LLBot-Desktop-win-x64-4
runtime/LLBot-Desktop-win-x64-5

# 编辑器
.vscode/
.idea/
*.swp
*.swo

# 系统
Thumbs.db
.DS_Store

# 运行时状态
config/.window_state.json

